<div id="<%= dom_id trip_package %>">
  <p>
    <strong>Name:</strong>
    <%= trip_package.name %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= trip_package.country %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= trip_package.price %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= trip_package.description %>
  </p>

</div>
